body{
background-image: url(../fon.png);
background-size: cover;
}
@keyframes show{
0%{opacity:0;}
100% {opacity:1;}
}
.main-chat-bot{
  position: fixed;
  top: auto;
  bottom: 14px;
  right: 20px;
  z-index: 999999;
  transition: 0.5s;
  animation: show 1s 1;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
}
.structure-chat-bot{
  width: 330px;
  height: 600px;
  background: #f2f9ff;
  background: linear-gradient(to right,#678ae8,#56cac7);
  font-size: 12px;
  line-height: 18px;
  box-shadow: 0 0px 40px rgba(0,0,0,.9);
  border-radius: 0;
  display: flex;
  flex-direction: column;
  min-height: 300px;
  max-height: calc(100vh - 150px);
  border-radius: 15px;
}
.close-chat-bot{
  display: flex;
  justify-content: flex-end;
  background-image:url(../close_button.png);
  background-size: contain;
  background-repeat: no-repeat;
  flex-basis: 7%;
  background-position: center;
  background-size: 100%;
}
.write-text-chat-bot{
  background:#f2f9ff;
  flex-basis: 85%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
.editor-chat-bot{
  flex-basis: 8%;
  display: flex;
}
.input-text-chat{
  flex-basis: 82%;
}
.enter-text-chat-bot{
    background: #02cf6a;
    background-image: url(../send-button.png);
    background-size: contain;
    background-repeat: no-repeat;
    flex-basis: 18%;
    border-radius: 0px 0px 15px 0px;
    background-position: center;
    background-size: 40%;
}
.output-chat-bot-text{
display: flex;
justify-content: flex-start;
padding-left: 5px;
}
.output-users-text{
  display: flex;
  justify-content: flex-end;
  padding-right: 5px;
word-wrap: break-word;
}
.output-users-text-span{
  margin-top: 5px;
  padding: 5px 7px 5px 7px;
  background-color: #5cb2ff;
  border-radius: 10px;
  max-width: 80%;
  word-wrap: break-word;
  color:#ffffff;
  border: 0.5px solid rgba(0, 0, 0, 0.3);
  font-family: 'Scada', serif;
  font-size: 14px;
}
.output-chat-bot-text-span{
  padding: 5px 7px 5px 7px;
  margin-top: 5px;
  background-color: #ffffff;
  border-radius: 10px;
  color:#1d1d1d;
border: 0.5px solid rgba(0, 0, 0, 0.3);
font-family: 'Scada', serif;
font-size: 14px;
}
.help-button-chat{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  padding-bottom: 0.5vh;
  padding-top: 0.5vh;
}
.help-button-chat-item{
  padding: 5px 7px 5px 7px;
  background-color: rgba(15, 53, 117, 0.42);
  border-radius: 5px;
  border: 0.5px solid #ffffff;
  font-family: 'Spinnaker', serif;
  font-size: 13px;
}
.help-button-chat-span{
  color: #ffffff;
}
.input-text-chat-bot{
  width:100%;
  resize: none;
  height: 100%;
  padding: 0px;
  border-radius: 0px 0px 0px 15px;
  border:none;
}
.input-text-chat-bot:focus {
  outline: none;
}
.chat-bot-headbar{
  display: flex;
  flex-basis: 7%;
}
.chat-bot-headbar-title{
display: flex;
margin: auto;
align-items: center;
color:#ffffff;
font-size: 19px;
font-family: 'Roboto', cursive;
}
.write-text-chat-bot::-webkit-scrollbar { width: 6px; height: 6px;}
.write-text-chat-bot::-webkit-scrollbar-button {  display: none;}
.write-text-chat-bot::-webkit-scrollbar-track {  background-color: #999;}
.write-text-chat-bot::-webkit-scrollbar-track-piece { background-color: #f2f9ff;}
.write-text-chat-bot::-webkit-scrollbar-thumb { height: 50px; background-color: #666; border-radius: 3px;}
